
.title {
  font-size: 20px;
  font-weight: bold;
}

.Shop > .Products-table {
  margin-top: 20px;
  border-collapse: collapse;
  min-width: 800px;
}

.Shop > .Products-table td, th {
  border: 1px black solid;
  text-align: left;
}

.Shop .Product-image {
  max-width: 200px;
}

.Shop .new-product-button {
  margin-top: 10px;
}
  

