
.GoodsBlock > .Title {
  font-size: 20px;
  font-weight: bold;
}

.GoodsBlock > .Goods-table {
  margin-top: 20px;
  border-collapse: collapse;
  min-width: 800px;
}

.GoodsBlock > .Goods-table td, th {
  border: 1px black solid;
  text-align: left;
}

.GoodsBlock .Product-image {
  max-width: 200px;
}
  

